@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Montserrat&display=swap');

*{
margin: 0;
padding: 0;
outline: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
body{
    background: #282828;
    overflow-x: hidden;
}
nav{
    background: #2c2e30;
    display: flex;
    text-align: right;
    align-items: center;
    height: 60px;
    padding: 0 100px;
    
}
nav .logo{
    cursor: pointer;
}
nav .navitems{
    display: flex;
    flex: 1;
    padding: 0 0 0 60px;
    margin-left: 330px;
}
nav .navitems a {
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    margin-left: 15px;
}
nav .navitems a i{
    color: #368338e1;
    padding: 5px;
}
nav form{
    display: flex;
    height: 40px;
    padding: 2px;
    min-width: 18% !important;
    background: #1e232b;
    border-radius: 30px;
    border-color: 1px solid rgba(155, 155, 155, alpha);
}
nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    border: none;
    font-weight: 300;
    background: none;
}
nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
   background:#368338e1 ;
    border: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    cursor: pointer;
}
nav form button:hover{
    background:#26e42de1 ;

}
.content{
    margin-top: 30px;
    text-align: center;
    color: #fff;
}
.content h1{
    justify-content: space-between;
    letter-spacing: 10px;
    font-family: 'EB Garamond', serif;
}
.content p{
    margin-top: 30px;
}
.content i{
    padding: 5px;
    color: #368338e1;
}
.content .under-line{
    width: 20%;
    height: 20px;
}
.movie-items{
    width: 100%;
    height: 10%;
    margin-top: 30px;
    margin-left: 1%;
    padding: 5px;
}
.column{
   float: left;
    width: 16.66%;
    cursor: pointer;
}
.row::after{
    content: '';
    clear: both;
    display: table;
}
.column img{
    border-radius: 10px;
}

.column h4,p {
    color: #fff;
    
    
}

.column :hover{
    scale: 1.1;
}
.footer-bottom {
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1c231ce1;
    
    
}
.footer-bottom p :hover{
    color: #368338e1;
    cursor: pointer;
}

